// Buttons
//
// This is an example file to show the styleguide
// functionality.
//
// :hover - State: Hovered
// :active - State: Active
// .btn-medium - Size: Medium
// .btn-large - Size: Large
//
// Markup: buttons.html
//
// Styleguide 2

.btn {
  background: rebeccapurple;
  border: 2px solid rebeccapurple;
  color: #fff;
  font-family: sans-serif;
  font-size: 0.75em;
  padding: 1em;
  text-decoration: none;

  &:hover {
    background: #fff;
    color: rebeccapurple;
  }

  &:active {
    background: #fff;
    border-color: rebeccapurple;
    color: rebeccapurple;
  }

  &.btn-medium {
    font-size: 1.25em;
  }

  &.btn-large {
    font-size: 2em;
  }

}